{
  "net_name": "letor_mvlstm", 
  "var_batch": true,
  "model_test_initial":false,
  "need_reshape": true, 
   "net_config" : [
    {
          "tag" : "Train",
          "max_iters" : 30000,
          "display_interval": 10,
          "out_nodes" : ["loss"]
    },
    {
          "tag" : "Valid",
          "max_iters" : 336,
          "display_interval" : 100000,
          "out_nodes" : ["P@k","nDCG@10", "MAP"]
    },
    {
          "tag" : "Test",
          "max_iters" : 336,
          "display_interval" : 100,
          "out_nodes" : [ "P@k", "nDCG@10", "MAP"]
    }
   ],
   "global" : {
      "w_updater_ph" : {
        "w_updater" : {
           "lr" : 0.0,
           "updater_type" : "Adam"
        }
      },
      "wb_updater_ph" : {
        "w_updater" : {
           "lr" : 0.005,
           "updater_type" : "Adam"
        },
        "b_updater" : {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }
      },
      "lstm_filler_ph" : {
        "b_filler": {
          "init_type": 0, 
          "value": 0
         }, 
        "u_filler": {
          "init_type": 2, 
          "range": 0.1
        }, 
        "w_filler": {
          "init_type": 2, 
          "range": 0.1
        } 
      },
      "lstm_updater_ph" : {
        "b_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "u_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "w_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }
      }
   },
  "layers": [
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "pair",
            "batch_size" : 100,
            "max_doc1_len" : 20,
            "max_doc2_len" : 2000,
            "shuffle" : true,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to/docid_doc.txt",
            "rel_file" : "/path/to/relation.train.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Train"]
      },
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "list",
            "max_doc1_len" : 20,
            "max_doc2_len" : 2000,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to/docid_doc.txt",
            "rel_file" : "/path/to/relation.test.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Valid"]
      },
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "list",
            "max_doc1_len" : 20,
            "max_doc2_len" : 2000,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to/docid_doc.txt",
            "rel_file" : "/path/to/relation.test.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Test"]
      },
	  {
         "bottom_nodes" : [ "data1" ],
         "layer_idx" : 1,
         "layer_name" : "embedding",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/to/embed_wiki-pdc_d50_norm",
            "feat_size" : 50,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367
         },
         "top_nodes" : [ "embed1" ]
      },
	  {
         "bottom_nodes" : [ "data2" ],
         "layer_idx" : 1,
         "layer_name" : "embedding",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/to/embed_wiki-pdc_d50_norm",
            "feat_size" : 50,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367
         },
         "top_nodes" : [ "embed2" ]
      },
      {
          "bottom_nodes": ["embed1"], 
          "layer_name": "l_lstm1", 
          "layer_type": 24, 
          "setting": {
              "d_mem": 50, 
              "grad_cut_off": 10000, 
              "grad_norm2": 100000, 
              "max_norm2": 10000, 
              "no_bias": false, 
              "o_gate_bias_init": 0.0, 
              "reverse": false, 
              "lstm_filler_ph": 0,
              "lstm_updater_ph": 0
          }, 
          "top_nodes": [
            "l_lstm_seq1"
           ]
      }, 
      { 
          "bottom_nodes": ["embed1"], 
          "layer_name": "r_lstm1", 
          "layer_type": 24, 
          "setting": {
              "d_mem": 50, 
              "grad_cut_off": 10000, 
              "grad_norm2": 100000, 
              "max_norm2": 10000, 
              "no_bias": false, 
              "o_gate_bias_init": 0.0, 
              "reverse": true, 
              "lstm_filler_ph": 0,
              "lstm_updater_ph": 0
          }, 
          "top_nodes": [
              "r_lstm_seq1"
          ]
      }, 
      {
          "bottom_nodes": [ 
              "embed1", 
              "l_lstm_seq1", 
              "r_lstm_seq1"
          ], 
          "layer_name": "concat", 
          "layer_type": 18, 
          "setting": {
              "bottom_node_num": 3, 
              "concat_dim_index": 3
          }, 
          "top_nodes": [
              "sentence1"
          ]
      }, 
      {
          "bottom_nodes": ["embed2"], 
          "layer_name": "l_lstm2", 
          "layer_type": 24, 
          "setting": {
              "d_mem": 50, 
              "grad_cut_off": 10000, 
              "grad_norm2": 100000, 
              "max_norm2": 10000, 
              "no_bias": false, 
              "o_gate_bias_init": 0.0, 
              "reverse": false, 
              "lstm_filler_ph": 0,
              "lstm_updater_ph": 0
          }, 
          "top_nodes": [
            "l_lstm_seq2"
           ]
      }, 
      { 
          "bottom_nodes": ["embed2"], 
          "layer_name": "r_lstm2", 
          "layer_type": 24, 
          "setting": {
              "d_mem": 50, 
              "grad_cut_off": 10000, 
              "grad_norm2": 100000, 
              "max_norm2": 10000, 
              "no_bias": false, 
              "o_gate_bias_init": 0.0, 
              "reverse": true, 
              "lstm_filler_ph": 0,
              "lstm_updater_ph": 0
          }, 
          "top_nodes": [
              "r_lstm_seq2"
          ]
      }, 
      {
          "bottom_nodes": [ "embed2", "l_lstm_seq2", "r_lstm_seq2"], 
          "layer_name": "concat", 
          "layer_type": 18, 
          "setting": {
              "bottom_node_num": 3, 
              "concat_dim_index": 3
          }, 
          "top_nodes": [
              "sentence2"
          ]
      }, 
      {
          "bottom_nodes": ["sentence1", "sentence2" ], 
          "layer_name": "match", 
          "layer_type": 23, 
          "setting": {
              "op" : "mul"
          }, 
          "top_nodes": ["interaction_rep"]
      }, 
      {
          "bottom_nodes": ["interaction_rep"], 
          "layer_name": "tensor_nonlinear", 
          "layer_type": 1, 
          "setting": {}, 
          "top_nodes": ["interaction_rep_nonlinear"]
      }, 
      {
          "bottom_nodes": ["interaction_rep_nonlinear", "sentence1", "sentence2"], 
          "layer_name": "top_k_pooling", 
          "layer_type": 10002, 
          "setting": {
              "k": 1
          }, 
          "top_nodes": ["fc2"]
      }, 
      {
          "bottom_nodes": ["fc2", "label"], 
          "layer_name": "pair_hinge", 
          "layer_type": 55, 
          "setting": {
            "delta": 1.0
          }, 
          "tag": ["Train"], 
          "top_nodes": ["loss"]
      }, 
      {
          "bottom_nodes": [ "fc2", "label"], 
          "layer_name": "P@k", 
          "layer_type": 61, 
          "setting": {
              "col": 0, 
              "k": 10, 
              "method": "P@k"
          }, 
          "tag": [ "Valid", "Test" ], 
          "top_nodes": [ "P@k" ]
      }, 
      {
           "bottom_nodes" : [ "fc2", "label" ],
           "layer_idx" : 19,
           "layer_name" : "nDCG@10",
           "layer_type" : 61,
           "setting" : {
              "k" : 10,
              "method" : "nDCG@k"
           },
           "top_nodes" : [ "nDCG@10" ],
           "tag" : ["Valid", "Test"]
      },
      {
           "bottom_nodes" : [ "fc2", "label" ],
           "layer_idx" : 19,
           "layer_name" : "MAP",
           "layer_type" : 61,
           "setting" : {
              "method" : "MAP"
           },
           "top_nodes" : [ "MAP" ],
           "tag" : ["Valid", "Test"]
      }
  ] 
}
