{
  "net_name": "letor_deeprank_pyramid", 
  "var_batch": true,
  "model_test_initial":false,
  "need_reshape": true, 
   "net_config" : [
    {
          "tag" : "Train",
          "max_iters" : 10000,
          "display_interval": 10,
          "out_nodes" : ["loss"]
    },
    {
          "tag" : "Valid",
          "max_iters" : 336,
          "display_interval" : 100000,
          "out_nodes" : ["P@k","nDCG@10", "MAP"]
    },
    {
          "tag" : "Test",
          "max_iters" : 336,
          "display_interval" : 100,
          "out_nodes" : [ "P@k", "nDCG@10", "MAP"]
    }
   ],
   "global" : {
      "w_updater_ph" : {
        "w_updater" : {
           "lr" : 0.0,
           "updater_type" : "Adam"
        }
      },
      "wb_updater_ph" : {
        "w_updater" : {
           "lr" : 0.005,
           "updater_type" : "Adam"
        },
        "b_updater" : {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }
      },
      "gru_filler_ph" : {
        "b_c_filler": {
          "init_type": 0, 
          "value": 0
        }, 
        "u_c_filler": {
          "init_type": 2, 
          "range": 0.01
        }, 
        "w_c_filler": {
          "init_type": 2, 
          "range": 0.01
        },
        "b_g_filler": {
          "init_type": 0, 
          "value": 0
        }, 
        "u_g_filler": {
          "init_type": 2, 
          "range": 0.01
        }, 
        "w_g_filler": {
          "init_type": 2, 
          "range": 0.01
        } 
      },
      "gru_updater_ph" : {
        "b_c_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "u_c_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "w_c_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        },
        "b_g_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "u_g_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "w_g_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }
      },
      "2dgru_filler_ph" : {
        "b_c_filler": {
          "init_type": 0, 
          "value": 0
        }, 
        "b_filler": {
          "init_type": 0, 
          "value": 0
        }, 
        "b_g_filler": {
          "init_type": 0, 
          "value": 0
        }, 
        "t_filler": {
          "init_type": 2, 
          "range": 0.01
        }, 
        "w_c_filler": {
          "init_type": 2, 
          "range": 0.01
        }, 
        "w_filler": {
          "init_type": 2, 
          "range": 0.01
        }, 
        "w_g_filler": {
          "init_type": 2, 
          "range": 0.01
        } 
      },
      "2dgru_updater_ph" : {
        "b_g_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "b_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "b_c_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "t_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "w_c_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "w_g_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }, 
        "w_updater": {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }
      }
   },
  "layers": [
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "pair",
            "batch_size" : 100,
            "max_doc1_len" : 20,
            "max_doc2_len" : 10000,
            "shuffle" : true,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to_dup/docid_doc_sort_none.c1w.txt",
            "rel_file" : "/path/to_dup/relation.train.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Train"]
      },
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "list",
            "max_doc1_len" : 20,
            "max_doc2_len" : 10000,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to_dup/docid_doc_sort_none.c1w.txt",
            "rel_file" : "/path/to_dup/relation.test.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Valid"]
      },
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "list",
            "max_doc1_len" : 20,
            "max_doc2_len" : 10000,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to_dup/docid_doc_sort_none.c1w.txt",
            "rel_file" : "/path/to_dup/relation.test.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Test"]
      },
      {
          "bottom_nodes": [ "data2", "data1" ],
          "layer_name": "key_snip",
          "layer_type": 1031,
          "setting" : {
             "max_snip" : 400,
             "input_snip_doc" : true,
             "group_snip" : 20,
             "snip_size" : 5
          },
          "top_nodes" : [ "data2_snip", "data2_snip_len" ]
      },
	  {
         "bottom_nodes" : [ "data1" ],
         "layer_idx" : 1,
         "layer_name" : "query_idf",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/to/embed.idf",
            "feat_size" : 1,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367 
         },
         "top_nodes" : [ "query_idf" ]
      },
      {
          "bottom_nodes": ["query_idf" ], 
          "layer_name": "softmax_idf", 
          "layer_type": 37, 
          "setting": {
              "prop_error":"0",
              "axis" : 3
          }, 
          "top_nodes": ["softmax_idf"]
      },
	  {
         "bottom_nodes" : [ "data1" ],
         "layer_idx" : 1,
         "layer_name" : "embedding",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/to/embed_wiki-pdc_d50_norm",
            "feat_size" : 50,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367
         },
         "top_nodes" : [ "embed1" ]
      },
	  {
         "bottom_nodes" : [ "data2_snip" ],
         "layer_idx" : 1,
         "layer_name" : "embedding",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/to/embed_wiki-pdc_d50_norm",
            "feat_size" : 50,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367
         },
         "top_nodes" : [ "embed2" ]
      },
      {
          "bottom_nodes": [ "embed2" ],
          "layer_name": "reshape_embed2",
          "layer_type": 1032,
          "setting": {
            "D0": -1,
            "D1": 1,
            "L0": -1,
            "L1": 1
          },
          "top_nodes": [ "embed2_reshape" ]
      },
      {
          "bottom_nodes": [ "embed1" ], 
          "layer_name": "dup_embed1",
          "layer_type": 1010,
          "setting": {
            "dup_count": 400
          },
          "top_nodes": [ "embed1_reshape" ]
      },
      {
          "bottom_nodes": ["embed1_reshape"],
          "layer_name": "embed1_reduce",
          "layer_type": 1011,
          "setting" : {
             "b_filler" : {
                "init_type" : 0
             },
             "channel_out" : 1,
             "kernel_x" : 50,
             "kernel_y" : 1,
             "no_bias" : true,
             "pad_x" : 0,
             "pad_y" : 0,
             "stride" : 1,
             "dim" : 1,
             "ignore_len" : false,
             "w_filler" : {
                "init_type" : 5,
                "mu" : 0,
                "sigma" : 0.01
             },
             "wb_updater_ph" : 0
          },
          "top_nodes" : [ "embed1_reduce" ]
      },
      {
         "bottom_nodes" : [ "embed1_reduce" ],
         "layer_name" : "embed1_swap13",
         "layer_type" : 42,
         "setting" : {
            "axis1" : 1,
            "axis2" : 3
          },
          "top_nodes" : [ "embed1_reduce_13" ]
      },
      {
          "bottom_nodes": ["embed2_reshape"],
          "layer_name": "embed2_reduce",
          "layer_type": 1011,
          "setting" : {
             "b_filler" : {
                "init_type" : 0
             },
             "channel_out" : 1,
             "kernel_x" : 50,
             "kernel_y" : 1,
             "no_bias" : true,
             "pad_x" : 0,
             "pad_y" : 0,
             "stride" : 1,
             "dim" : 1,
             "ignore_len" : false,
             "w_filler" : {
                "init_type" : 5,
                "mu" : 0,
                "sigma" : 0.01
             },
             "wb_updater_ph" : 0
          },
          "top_nodes" : [ "embed2_reduce" ]
      },
      {
         "bottom_nodes" : [ "embed2_reduce" ],
         "layer_name" : "embed2_swap13",
         "layer_type" : 42,
         "setting" : {
            "axis1" : 1,
            "axis2" : 3
          },
          "top_nodes" : [ "embed2_reduce_13" ]
      },
      {
          "bottom_nodes": ["embed1_reshape", "embed2_reshape" ], 
          "layer_name": "match", 
          "layer_type": 23, 
          "setting": {
              "op" : "mul"
          }, 
          "top_nodes": ["cross_sim"]
      }, 
      {
          "bottom_nodes": ["embed1_reduce_13", "embed2_reduce_13" ], 
          "layer_name": "match_ws", 
          "layer_type": 23, 
          "setting": {
              "op" : "elemwise_cat"
          }, 
          "top_nodes": ["cross_ws"]
      }, 
      {
        "bottom_nodes": [
          "cross_sim", 
          "cross_ws"
        ], 
        "layer_name": "concat_cross", 
        "layer_type": 18, 
        "setting": {
          "copy_length": true,
          "bottom_node_num": 2, 
          "concat_dim_index": 1 
        }, 
        "top_nodes": [
          "cross"
        ]
      }, 
      {
         "bottom_nodes" : [ "cross" ],
         "layer_idx" : 8,
         "layer_name" : "conv2",
         "layer_type" : 1011,
         "setting" : {
            "b_filler" : {
               "init_type" : 0
            },
            "channel_out" : 4,
            "kernel_x" : 3,
            "kernel_y" : 3,
            "no_bias" : false,
            "pad_x" : 1,
            "pad_y" : 1,
            "stride" : 1,
            "ignore_len" : true,
            "w_filler" : {
               "init_type" : 3,
               "mu" : 0,
               "sigma" : 0.01
            },
            "wb_updater_ph" : 0
         },
         "top_nodes" : [ "conv2" ]
      },
      {
         "bottom_nodes" : [ "conv2" ],
         "layer_idx" : 9,
         "layer_name" : "maxpool2",
         "layer_type" : 43,
         "setting" : {
            "dim": 2,
            "row": 1,
            "col": 1
         },
         "top_nodes" : [ "pool2" ]
      },
      {
         "bottom_nodes" : [ "pool2" ],
         "layer_idx" : 15,
         "layer_name" : "xelu0",
         "layer_type" : 1034,
         "setting" : {
           "b" : 5
         },
         "top_nodes" : [ "xelu0" ]
      },
      {
          "bottom_nodes": [ "xelu0" ],
          "layer_name": "reshape_fc_inner",
          "layer_type": 1032,
          "setting": {
            "D0": -1,
            "D1": 20,
            "D2": 20,
            "D3": 4
          },
          "top_nodes": [ "fc_inner_reshape" ]
      },
      {
          "bottom_nodes": ["fc_inner_reshape"],
          "layer_name": "append_pos_feature",
          "layer_type": 1036,
          "setting": {
            "D1": 20,
            "D2": 20,
            "D3": 1,
            "key": "data2",
            "feature_file": "/path/to_dup/docid_snippos_sort_none.c1w.feat"
          },
          "top_nodes": ["fc_app_pos"]
      },
      {
          "bottom_nodes": [ "fc_app_pos" ],
          "layer_name": "reshape_fc_inner_pos",
          "layer_type": 1032,
          "setting": {
            "D0": -1,
            "D1": 1,
            "D2": 20,
            "D3": 5
          },
          "top_nodes": [ "fc_app_pos_reshape" ]
      },
      {
          "bottom_nodes": ["data2_snip_len"],
          "layer_name": "snip_len_reshape",
          "layer_type": 1032,
          "setting": {
            "D0": -1, 
            "D1": 1,
            "D2": 1,
            "D3": 1
          },
          "top_nodes": ["snip_len_reshape"]
      },
      {
          "bottom_nodes": ["fc_app_pos_reshape", "snip_len_reshape"],
          "layer_name": "length_fill",
          "layer_type": 1033,
          "setting": {},
          "top_nodes": ["fc_inner_seq"]
      },
      {
          "bottom_nodes": ["fc_inner_seq"], 
          "layer_name": "gru_inner_left", 
          "layer_type": 1006, 
          "setting": {
              "d_mem": 3, 
              "grad_cut_off": 10000, 
              "grad_norm2": 100000, 
              "max_norm2": 10000, 
              "no_bias": false, 
              "o_gate_bias_init": 0.0, 
              "reverse": false,
              "gru_filler_ph": 0,
              "gru_updater_ph": 0 
          }, 
          "top_nodes": [
            "gru_inner_seq_left"
           ]
      }, 
      {
          "bottom_nodes": ["fc_inner_seq"], 
          "layer_name": "gru_inner_right", 
          "layer_type": 1006, 
          "setting": {
              "d_mem": 3, 
              "grad_cut_off": 10000, 
              "grad_norm2": 100000, 
              "max_norm2": 10000, 
              "no_bias": false, 
              "o_gate_bias_init": 0.0, 
              "reverse": true,
              "gru_filler_ph": 0,
              "gru_updater_ph": 0 
          }, 
          "top_nodes": [
            "gru_inner_seq_right"
           ]
      }, 
      {
        "bottom_nodes": ["gru_inner_seq_left"], 
        "layer_name": "last_pooling_inner_gru_left", 
        "layer_type": 25, 
        "setting": {
          "pool_type": "last"
        }, 
        "top_nodes": ["gru_inner_pool_left"]
      }, 
      {
        "bottom_nodes": ["gru_inner_seq_right"], 
        "layer_name": "last_pooling_inner_gru_right", 
        "layer_type": 25, 
        "setting": {
          "pool_type": "first"
        }, 
        "top_nodes": ["gru_inner_pool_right"]
      }, 
      {
        "bottom_nodes": [
          "gru_inner_pool_left",
          "gru_inner_pool_right"
        ], 
        "layer_name": "concat_gru_inner", 
        "layer_type": 18, 
        "setting": {
          "bottom_node_num": 2, 
          "concat_dim_index": 3 
        }, 
        "top_nodes": [
          "gru_inner_pool"
        ]
      }, 
      {
         "bottom_nodes" : [ "gru_inner_pool" ],
         "layer_idx" : 15,
         "layer_name" : "relu1",
         "layer_type" : 1,
         "setting" : null,
         "top_nodes" : [ "relu1" ]
      },
      {
          "bottom_nodes": [ "relu1" ],
          "layer_name": "reshape_fc_mid",
          "layer_type": 1032,
          "setting": {
            "D0": -1,
            "D1": 1,
            "D2": 20,
            "D3": 6
          },
          "top_nodes": [ "fc_mid_reshape" ]
      },
      {
          "bottom_nodes": ["softmax_idf" ], 
          "layer_name": "expand_idf", 
          "layer_type": 1010, 
          "setting": {
              "dup_dim" : 3,
              "dup_count" : 6
          }, 
          "top_nodes": ["expand_idf"]
      }, 
      {
          "bottom_nodes": ["fc_mid_reshape", "expand_idf" ], 
          "layer_name": "idfcross", 
          "layer_type": 1019, 
          "setting": {
              "op" : "product"
          }, 
          "top_nodes": ["idfcross"]
      }, 
      {
          "bottom_nodes": ["idfcross"], 
          "layer_name": "fc2", 
          "layer_type": 11, 
          "setting": {
              "b_filler": {
                  "init_type": 0, 
                  "value": 0
              }, 
              "b_updater": {
                  "batch_size": 100, 
                  "lr": 0.0, 
                  "updater_type": 1
              }, 
              "no_bias": false, 
              "num_hidden": 1, 
              "w_filler": {
                  "init_type": 1, 
                  "value": 0.5
              }, 
              "w_updater": {
                  "batch_size": 100, 
                  "lr": 0.0, 
                  "updater_type": 1
              }
          }, 
          "top_nodes": ["fc2"]
      }, 
      {
          "bottom_nodes": ["fc2", "label"], 
          "layer_name": "pair_hinge", 
          "layer_type": 55, 
          "setting": {
            "delta": 1.0
          }, 
          "tag": ["Train"], 
          "top_nodes": ["loss"]
      }, 
      {
          "bottom_nodes": [ "fc2", "label"], 
          "layer_name": "P@k", 
          "layer_type": 61, 
          "setting": {
              "col": 0, 
              "k": 10, 
              "method": "P@k"
          }, 
          "tag": [ "Valid", "Test" ], 
          "top_nodes": [ "P@k" ]
      }, 
      {
           "bottom_nodes" : [ "fc2", "label" ],
           "layer_idx" : 19,
           "layer_name" : "nDCG@10",
           "layer_type" : 61,
           "setting" : {
              "k" : 10,
              "method" : "nDCG@k"
           },
           "top_nodes" : [ "nDCG@10" ],
           "tag" : ["Valid", "Test"]
      },
      {
           "bottom_nodes" : [ "fc2", "label" ],
           "layer_idx" : 19,
           "layer_name" : "MAP",
           "layer_type" : 61,
           "setting" : {
              "method" : "MAP"
           },
           "top_nodes" : [ "MAP" ],
           "tag" : ["Valid", "Test"]
      }
  ]
}
