{
  "var_batch": true,
  "model_test_initial":false,
  "net_name": "HiNT", 
  "need_reshape": true, 
   "net_config" : [
    {
          "tag" : "Train",
          "max_iters" : 50000,
          "display_interval": 10,
          "out_nodes" : ["loss"]
    },
    {
          "tag" : "Valid",
          "max_iters" : 336,
          "display_interval" : 100000,
          "out_nodes" : ["P@10","nDCG@10", "MAP"]
    },
    {
          "tag" : "Test",
          "max_iters" : 336,
          "display_interval" : 100,
          "out_nodes" : [ "P@10", "nDCG@10", "MAP"]
    }
   ],
   "global" : {
      "w_updater_ph" : {
        "w_updater" : {
           "decay" : 0.01,
           "lr" : 0.0,
           "updater_type" : "Adam"
        }
      },
      "wb_updater_ph" : {
        "b_updater" : {
           "decay" : 0.01,
           "lr" : 0.005,
           "updater_type" : "Adam"
        },
        "w_updater" : {
           "decay" : 0.01,
           "lr" : 0.005,
           "updater_type" : "Adam"
        }
      },
      "lstm_filler_ph" : {
        "b_filler": {
          "init_type": 0, 
          "value": 0
         }, 
        "u_filler": {
          "init_type": 2, 
          "range": 0.1
        }, 
        "w_filler": {
          "init_type": 2, 
          "range": 0.1
        } 
      },
      "lstm_updater_ph" : {
        "b_updater": {
          "lr": 0.005, 
          "updater_type": "Adam"
        }, 
        "u_updater": {
          "lr": 0.005, 
          "updater_type": "Adam"
        }, 
        "w_updater": {
          "lr": 0.005, 
          "updater_type": "Adam"
        }
      },
      "2dgru_filler_ph" : {
          "b_c_filler": {
              "init_type": 0, 
              "value": 0
          }, 
          "b_g_filler": {
              "init_type": 0, 
              "value": 0
          }, 
          "w_c_filler": {
              "init_type": 2, 
              "range": 0.1
          }, 
          "w_g_filler": {
              "init_type": 2, 
              "range": 0.1
          } 
      },
      "2dgru_updater_ph" : {
          "b_c_updater": {
              "lr": 0.005, 
              "updater_type": "Adam"
          }, 
          "b_g_updater": {
              "lr": 0.005, 
              "updater_type": "Adam"
          }, 
          "w_c_updater": {
              "lr": 0.005, 
              "updater_type": "Adam"
          }, 
          "w_g_updater": {
              "lr": 0.005, 
              "updater_type": "Adam"
          } 
      }
   },
  "layers": [
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 88,
         "setting" : {
            "mode" : "pair",
            "batch_size" : 100,
            "window_size" : 100,
            "max_doc_len" : 2000,
            "data1_doc_len" : 18,
            "shuffle" : true,
            "data1_file" : "/path/qid_query.txt",
            "data2_file" : "/path/docid_doc.txt",
            "rel_file" : "/path/relation.train.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label", "data2_window" ],
         "tag" : ["Train"]
      },
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 88,
         "setting" : {
            "mode" : "list",
            "window_size" : 100,
            "max_doc_len" : 2000,
            "data1_doc_len" : 18,
            "data1_file" : "/path/qid_query.txt",
            "data2_file" : "/path/docid_doc.txt",
            "rel_file" : "/path/relation.test.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label", "data2_window" ],
         "tag" : ["Valid"]
      },
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 88,
         "setting" : {
            "mode" : "list",
            "window_size" : 100,
            "max_doc_len" : 2000,
            "data1_doc_len" : 18,
            "data1_file" : "/path/qid_query.txt",
            "data2_file" : "/path/docid_doc.txt",
            "rel_file" : "/path/relation.test.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label", "data2_window" ],
         "tag" : ["Test"]
      },
	  {
         "bottom_nodes" : [ "data1" ],
         "layer_idx" : 1,
         "layer_name" : "embedding",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/embed_wiki-pdc_d50_norm",
            "feat_size" : 50,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367
         },
         "top_nodes" : [ "embed1" ]
      },
	  {
         "bottom_nodes" : [ "data2" ],
         "layer_idx" : 1,
         "layer_name" : "embedding",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/embed_wiki-pdc_d50_norm",
            "feat_size" : 50,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367
         },
         "top_nodes" : [ "embed2" ]
      },
      {
          "bottom_nodes": ["embed1"],
          "layer_name": "embed1_reduce",
          "layer_type": 1011,
          "setting" : {
             "b_filler" : {
                "init_type" : 0
             },
             "channel_out" : 1,
             "kernel_x" : 50,
             "kernel_y" : 1,
             "no_bias" : true,
             "pad_x" : 0,
             "pad_y" : 0,
             "stride" : 1,
             "dim" : 1,
             "ignore_len" : false,
             "w_filler" : {
                "init_type" : 5,
                "mu" : 0,
                "sigma" : 0.01
             },
             "wb_updater_ph" : 0
          },
          "top_nodes" : [ "embed1_reduce" ]
      },
      {
          "bottom_nodes": ["embed2"],
          "layer_name": "embed2_reduce",
          "layer_type": 1011,
          "setting" : {
             "b_filler" : {
                "init_type" : 0
             },
             "channel_out" : 1,
             "kernel_x" : 50,
             "kernel_y" : 1,
             "no_bias" : true,
             "pad_x" : 0,
             "pad_y" : 0,
             "stride" : 1,
             "dim" : 1,
             "ignore_len" : false,
             "w_filler" : {
                "init_type" : 5,
                "mu" : 0,
                "sigma" : 0.01
             },
             "wb_updater_ph" : 0
          },
          "top_nodes" : [ "embed2_reduce" ]
      },
      {
         "bottom_nodes" : [ "embed1_reduce" ],
         "layer_name" : "embed1_swap13",
         "layer_type" : 42,
         "setting" : {
            "axis1" : 1,
            "axis2" : 3
          },
          "top_nodes" : [ "embed1_reduce_13" ]
      },
      {
         "bottom_nodes" : [ "embed2_reduce" ],
         "layer_name" : "embed2_swap13",
         "layer_type" : 42,
         "setting" : {
            "axis1" : 1,
            "axis2" : 3
          },
          "top_nodes" : [ "embed2_reduce_13" ]
      },
      {
          "bottom_nodes": ["embed1_reduce_13", "embed2_reduce_13" ], 
          "layer_name": "match_ws", 
          "layer_type": 23, 
          "setting": {
              "op" : "elemwise_cat"
          }, 
          "top_nodes": ["cross_ws"]
      }, 
      {
         "bottom_nodes": [ "data1", "data2" ], 
         "layer_name": "match", 
         "layer_type": 23, 
         "setting": {
             "prop_error" : "00",
             "op" : "xor"
         }, 
         "top_nodes": [  "interaction_rep_xor" ]
      }, 
      {
         "bottom_nodes": [ "embed1", "embed2" ], 
         "layer_name": "match", 
         "layer_type": 23, 
         "setting": {
             "prop_error" : "00",
             "op" : "mul"
         }, 
         "top_nodes": [  "interaction_rep_mul" ]
      }, 
      {
         "bottom_nodes": [ "interaction_rep_mul", "cross_ws" ], 
         "layer_name": "concat_cross", 
         "layer_type": 18, 
         "setting": {
            "copy_length": true,
            "bottom_node_num": 2, 
            "concat_dim_index": 1 
         }, 
         "top_nodes": [ "cross_mul" ]
      }, 
      {
         "bottom_nodes": [ "cross_mul" ], 
         "layer_name": "swap_4_lstm_d2_1", 
         "layer_type": 42, 
         "setting": {
             "axis1": 1, 
             "axis2": 2
          }, 
         "top_nodes": [ "swap_cross_mul" ]
      }, 
      {
          "bottom_nodes": [ "swap_cross_mul" ], 
          "layer_name": "swap_4_lstm_d2_2", 
          "layer_type": 42, 
          "setting": {
              "axis1": 2, 
              "axis2": 3
          }, 
          "top_nodes": [ "lstm_d2_input_mul" ]
      }, 
      {
         "bottom_nodes": [ "interaction_rep_xor" ], 
         "layer_name": "swap_4_lstm_d2_1", 
         "layer_type": 42, 
         "setting": {
             "axis1": 1, 
             "axis2": 2
          }, 
         "top_nodes": [ "swap_interaction_xor" ]
      }, 
        {
            "bottom_nodes": [ "swap_interaction_xor" ], 
            "layer_name": "swap_4_lstm_d2_2", 
            "layer_type": 42, 
            "setting": {
                "axis1": 2, 
                "axis2": 3
            }, 
            "top_nodes": [ "lstm_d2_input_xor" ]
        }, 
        {
            "bottom_nodes": [ "lstm_d2_input_mul" ], 
            "layer_name": "lstm_d2_lt2br", 
            "layer_type": 20005, 
            "setting": {
                "d_mem": 2, 
                "is_diag_connection": true, 
                //"f_gate_bias_init": -0.2, 
                //"i_gate_bias_init": -0.1, 
                "is_use_reset_gate": true, 
                "no_bias": false, 
                //"o_gate_bias_init": 0.0, 
                "reverse": false, 
                "2dgru_filler_ph": 0,
                "2dgru_updater_ph": 0
            }, 
            "top_nodes": [ "match_matrix_lt2br_mul" ]
        }, 
        {
            "bottom_nodes": [ "match_matrix_lt2br_mul" ], 
            "layer_name": "last_pooling", 
            "layer_type": 10006, 
            "setting": {
                "pool_type": "last"
            }, 
            "top_nodes": [ "pool_rep_last_mul" ]
        }, 
        {
            "bottom_nodes": [ "lstm_d2_input_mul" ], 
            "layer_name": "lstm_d2_br2lt", 
            "layer_type": 20005, 
            "setting": {
                "d_mem": 2, 
                "is_diag_connection": true, 
                //"f_gate_bias_init": -0.2, 
                //"i_gate_bias_init": -0.1, 
                "is_use_reset_gate": true, 
                "no_bias": false, 
                //"o_gate_bias_init": 0.0, 
                "reverse": true, 
                "2dgru_filler_ph": 0,
                "2dgru_updater_ph": 0
            }, 
            "top_nodes": [ "match_matrix_br2lt_mul" ]
        }, 
        {
            "bottom_nodes": [ "match_matrix_br2lt_mul" ], 
            "layer_name": "first_pooling", 
            "layer_type": 10006, 
            "setting": {
                "pool_type": "first"
            }, 
            "top_nodes": [ "pool_rep_first_mul" ]
        }, 
        {
            "bottom_nodes": [ "lstm_d2_input_xor" ], 
            "layer_name": "lstm_d2_lt2br", 
            "layer_type": 20005, 
            "setting": {
                "d_mem": 2, 
                "is_diag_connection": true, 
                //"f_gate_bias_init": -0.2, 
                //"i_gate_bias_init": -0.1, 
                "is_use_reset_gate": true, 
                "no_bias": false, 
                //"o_gate_bias_init": 0.0, 
                "reverse": false, 
                "2dgru_filler_ph": 0,
                "2dgru_updater_ph": 0
            }, 
            "top_nodes": [ "match_matrix_lt2br_xor" ]
        }, 
        {
            "bottom_nodes": [ "match_matrix_lt2br_xor" ], 
            "layer_name": "last_pooling", 
            "layer_type": 10006, 
            "setting": {
                "pool_type": "last"
            }, 
            "top_nodes": [ "pool_rep_last_xor" ]
        }, 
        {
            "bottom_nodes": [ "lstm_d2_input_xor" ], 
            "layer_name": "lstm_d2_br2lt", 
            "layer_type": 20005, 
            "setting": {
                "d_mem": 2, 
                "is_diag_connection": true, 
                //"f_gate_bias_init": -0.2, 
                //"i_gate_bias_init": -0.1, 
                "is_use_reset_gate": true, 
                "no_bias": false, 
                //"o_gate_bias_init": 0.0, 
                "reverse": true, 
                "2dgru_filler_ph": 0,
                "2dgru_updater_ph": 0
            }, 
            "top_nodes": [ "match_matrix_br2lt_xor" ]
        }, 
        {
            "bottom_nodes": [ "match_matrix_br2lt_xor" ], 
            "layer_name": "first_pooling", 
            "layer_type": 10006, 
            "setting": {
                "pool_type": "first"
            }, 
            "top_nodes": [ "pool_rep_first_xor" ]
        }, 
        {
            "bottom_nodes": [ "pool_rep_last_mul",  "pool_rep_first_mul", "pool_rep_last_xor", "pool_rep_first_xor" ], 
            "layer_name": "concat", 
            "layer_type": 18, 
            "setting": {
                "bottom_node_num": 4, 
                "concat_dim_index": 3
            }, 
            "top_nodes": [ "pool_rep" ]
        }, 
      {
          "bottom_nodes": ["pool_rep", "data2_window" ],
          "layer_name": "merge_window",
          "layer_type": 20001,
          "setting":{
              "max_len": 20,
              "dim": 2
          },
          "top_nodes": [ "merge_window" ]
      },
      {
          "bottom_nodes": ["merge_window"], 
          "layer_name": "merge_reshape1", 
          "layer_type": 1032, 
          "setting": {
              "D0": -1,
              "D1": 1,
              "D2": 1,
              "D3": 8,
              "L0": 0,
              "L1": 0
          }, 
          "top_nodes": ["merge_reshape1"]
      }, 
      {
          "bottom_nodes": ["merge_reshape1"], 
          "layer_name": "fc1", 
          "layer_type": 11, 
          "setting": {
              "b_filler": {
                  "init_type": 0, 
                  "value": 0
              }, 
              "b_updater": {
                  "lr": 0.005, 
                  "updater_type": "Adam"
              }, 
              "no_bias": false, 
              "num_hidden": 10, 
              "w_filler": {
                  "init_type": 2, 
                  "range": 0.1
              }, 
              "w_updater": {
                  "lr": 0.005, 
                  "updater_type": "Adam"
              }
          }, 
          "top_nodes": ["fc1"]
      }, 
      {
          "bottom_nodes": ["fc1"], 
          "layer_name": "merge_reshape2", 
          "layer_type": 1032, 
          "setting": {
              "D0": -1,
              "D1": 1,
              "D2": 20,
              "D3": 10,
              "L0": 0,
              "L1": 0
          }, 
          "top_nodes": ["merge_reshape2"]
      }, 
      {
          "bottom_nodes": ["merge_window"], 
          "layer_name": "lstm_dm_lr", 
          "layer_type": 24, 
          "setting": {
              "d_mem": 10, 
              "grad_cut_off": 10000, 
              "grad_norm2": 100000, 
              "max_norm2": 10000, 
              "no_bias": false, 
              "o_gate_bias_init": 0.0, 
              "reverse": false, 
              "lstm_filler_ph": 0,
              "lstm_updater_ph": 0
          }, 
          "top_nodes": ["lstm_dm_lr"]
      }, 
      {
          "bottom_nodes": ["merge_window"], 
          "layer_name": "lstm_dm_rl", 
          "layer_type": 24, 
          "setting": {
              "d_mem": 10, 
              "grad_cut_off": 10000, 
              "grad_norm2": 100000, 
              "max_norm2": 10000, 
              "no_bias": false, 
              "o_gate_bias_init": 0.0, 
              "reverse": true, 
              "lstm_filler_ph": 0,
              "lstm_updater_ph": 0
          }, 
          "top_nodes": ["lstm_dm_rl"]
      }, 
      {
          "bottom_nodes": ["merge_reshape2", "lstm_dm_lr", "lstm_dm_rl" ],
          "layer_name": "evidence",
          "layer_type": 18,
          "setting":{
            "bottom_node_num": 3, 
            "concat_dim_index": 2
          },
          "top_nodes": [ "evidence" ]
      },
      {
            "bottom_nodes": [ "evidence" ], 
            "layer_name": "pool_maxk", 
            "layer_type": 25, 
            "setting": {
                "ignore_len": true,
                "pool_type": "maxk",
                "k" : 10
            }, 
            "top_nodes": [ "evidence_maxk" ]
      }, 
      {
          "bottom_nodes": ["evidence_maxk"], 
          "layer_name": "fc2", 
          "layer_type": 11, 
          "setting": {
              "b_filler": {
                  "init_type": 0, 
                  "value": 0
              }, 
              "b_updater": {
                  "lr": 0.005, 
                  "updater_type": "Adam"
              }, 
              "no_bias": false, 
              "num_hidden": 1, 
              "w_filler": {
                  "init_type": 2, 
                  "range": 0.1
              }, 
              "w_updater": {
                  "lr": 0.005, 
                  "updater_type": "Adam"
              }
          }, 
          "top_nodes": ["fc2"]
      }, 
      {
          "bottom_nodes": ["fc2", "label"], 
          "layer_name": "pair_hinge", 
          "layer_type": 55, 
          "setting": {
            "delta": 1.0
          }, 
          "tag": ["Train"], 
          "top_nodes": ["loss"]
      }, 
      {
          "bottom_nodes": [ "fc2", "label"], 
          "layer_name": "P@10", 
          "layer_type": 61, 
          "setting": {
              "col": 0, 
              "k": 10, 
              "method": "P@k"
          }, 
          "tag": [ "Valid", "Test" ], 
          "top_nodes": [ "P@10" ]
      }, 
      {
           "bottom_nodes" : [ "fc2", "label" ],
           "layer_idx" : 19,
           "layer_name" : "nDCG@10",
           "layer_type" : 61,
           "setting" : {
              "k" : 10,
              "method" : "nDCG@k"
           },
           "top_nodes" : [ "nDCG@10" ],
           "tag" : ["Valid", "Test"]
      },
      {
           "bottom_nodes" : [ "fc2", "label" ],
           "layer_idx" : 19,
           "layer_name" : "MAP",
           "layer_type" : 61,
           "setting" : {
              "method" : "MAP"
           },
           "top_nodes" : [ "MAP" ],
           "tag" : ["Valid", "Test"]
      }
  ], 
  "save_model": {
    "file_prefix": "/path/result/analyse/model/model.letor.mq2007.hint.fold1", 
    "save_interval": 100
  }
}
