{
  "net_name": "letor.arc2", 
  "var_batch": true,
  "model_test_initial":false,
  "need_reshape": true, 
   "net_config" : [
    {
          "tag" : "Train",
          "max_iters" : 1500,
          "display_interval": 10,
          "out_nodes" : ["loss"]
    },
    {
          "tag" : "Valid",
          "max_iters" : 336,
          "display_interval" : 100000,
          "out_nodes" : ["P@k","nDCG@10", "MAP"]
    },
    {
          "tag" : "Test",
          "max_iters" : 336,
          "display_interval" : 100,
          "out_nodes" : [ "P@k", "nDCG@10", "MAP"]
    }
   ],
   "global" : {
      "w_updater_ph" : {
        "w_updater" : {
           "lr" : 0.0,
           "updater_type" : "Adam"
        }
      },
      "wb_updater_ph" : {
        "w_updater" : {
           "lr" : 0.005,
           "updater_type" : "Adam"
        },
        "b_updater" : {
           "lr" : 0.005,
           "updater_type" : "Adam"
        }
      }
  },
  "layers": [
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "pair",
            "batch_size" : 100,
            "max_doc1_len" : 20,
            "max_doc2_len" : 2000,
            "shuffle" : true,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to/docid_doc.txt",
            "rel_file" : "/path/to/relation.train.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Train"]
      },
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "list",
            "max_doc1_len" : 20,
            "max_doc2_len" : 2000,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to/docid_doc.txt",
            "rel_file" : "/path/to/relation.test.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Valid"]
      },
      {
         "bottom_nodes" : null,
         "layer_idx" : 0,
         "layer_name" : "textdata",
         "layer_type" : 86,
         "setting" : {
            "mode" : "list",
            "max_doc1_len" : 20,
            "max_doc2_len" : 2000,
            "data1_file" : "/path/to/qid_query.txt",
            "data2_file" : "/path/to/docid_doc.txt",
            "rel_file" : "/path/to/relation.test.fold1.txt"
         },
         "top_nodes" : [ "data1", "data2", "label" ],
         "tag" : ["Test"]
      },
	  {
         "bottom_nodes" : [ "data1" ],
         "layer_idx" : 1,
         "layer_name" : "embedding",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/to/embed_wiki-pdc_d50_norm",
            "feat_size" : 50,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367
         },
         "top_nodes" : [ "embed1" ]
      },
	  {
         "bottom_nodes" : [ "data2" ],
         "layer_idx" : 1,
         "layer_name" : "embedding",
         "layer_type" : 21,
         "setting" : {
            "embedding_file" : "/path/to/embed_wiki-pdc_d50_norm",
            "feat_size" : 50,
            "w_filler" : {
               "init_type" : 2,
               "range" : 0.02
            },
            "w_updater_ph": 0,
            "word_count" : 193367
         },
         "top_nodes" : [ "embed2" ]
      },
      {
         "bottom_nodes" : [ "embed1" ],
         "layer_idx" : 3,
         "layer_name" : "conv11",
         "layer_type" : 1011,
         "setting" : {
            "b_filler" : {
               "init_type" : 0
            },
            "channel_out" : 8,
            "kernel_x" : 50,
            "kernel_y" : 3,
            "no_bias" : false,
            "dim" : 1,
            "pad_x" : 0,
            "pad_y" : 1,
            "stride" : 1,
            "w_filler" : {
               "init_type" : 3,
               "sigma" : 0.02
            },
            "wb_updater_ph" : 0
         },
         "top_nodes" : [ "conv11" ]
      },
      {
         "bottom_nodes" : [ "embed2" ],
         "layer_idx" : 4,
         "layer_name" : "conv12",
         "layer_type" : 1011,
         "setting" : {
            "b_filler" : {
               "init_type" : 0
            },
            "channel_out" : 8,
            "kernel_x" : 50,
            "kernel_y" : 3,
            "no_bias" : false,
            "dim" : 1,
            "pad_x" : 0,
            "pad_y" : 1,
            "stride" : 1,
            "w_filler" : {
               "init_type" : 3,
               "sigma" : 0.02
            },
            "wb_updater_ph" : 0
         },
         "top_nodes" : [ "conv12" ]
      },
      {
        "bottom_nodes": [ "conv11" ], 
        "layer_name": "swap11", 
        "layer_type": 42, 
        "setting": {
          "axis1": 1, 
          "axis2": 3
        }, 
        "top_nodes": [
          "swap11"
        ]
      }, 
      {
        "bottom_nodes": [ "conv12" ], 
        "layer_name": "swap12", 
        "layer_type": 42, 
        "setting": {
          "axis1": 1, 
          "axis2": 3
        }, 
        "top_nodes": [
          "swap12"
        ]
      }, 
      {
          "bottom_nodes": ["swap11", "swap12" ], 
          "layer_name": "match", 
          "layer_type": 23, 
          "setting": {
              "op" : "elemwise_plus"
          }, 
          "top_nodes": ["cross"]
      }, 
      {
         "bottom_nodes" : [ "cross" ],
         "layer_idx" : 6,
         "layer_name" : "maxpool1",
         "layer_type" : 1023,
         "setting" : {
            "kernel_x" : 20,
            "kernel_y" : 2,
            "stride_x" : 20,
            "stride_y" : 2
         },
         "top_nodes" : [ "pool1" ]
      },
      {
         "bottom_nodes" : [ "pool1" ],
         "layer_idx" : 7,
         "layer_name" : "relu1",
         "layer_type" : 1,
         "setting" : null,
         "top_nodes" : [ "relu1" ]
      },
      {
         "bottom_nodes" : [ "relu1" ],
         "layer_idx" : 8,
         "layer_name" : "conv2",
         "layer_type" : 1011,
         "setting" : {
            "b_filler" : {
               "init_type" : 0
            },
            "channel_out" : 8,
            "kernel_x" : 3,
            "kernel_y" : 3,
            "no_bias" : false,
            "pad_x" : 1,
            "pad_y" : 1,
            "stride" : 1,
            "w_filler" : {
               "init_type" : 3,
               "mu" : 0,
               "sigma" : 0.01
            },
            "wb_updater_ph" : 0
         },
         "top_nodes" : [ "conv2" ]
      },
      {
         "bottom_nodes" : [ "conv2" ],
         "layer_idx" : 9,
         "layer_name" : "maxpool2",
         "layer_type" : 15,
         "setting" : {
            "kernel_x" : 2,
            "kernel_y" : 2,
            "stride" : 2
         },
         "top_nodes" : [ "pool2" ]
      },
      {
         "bottom_nodes" : [ "pool2" ],
         "layer_idx" : 10,
         "layer_name" : "relu2",
         "layer_type" : 1,
         "setting" : null,
         "top_nodes" : [ "relu2" ]
      },
      {
          "bottom_nodes": ["relu2"], 
          "layer_name": "fc2", 
          "layer_type": 11, 
          "setting": {
              "b_filler": {
                  "init_type": 0, 
                  "value": 0
              }, 
              "no_bias": false, 
              "num_hidden": 1, 
              "w_filler": {
                  "init_type": 3, 
                  "sigma": 0.1
              }, 
              "wb_updater_ph": 0
          }, 
          "top_nodes": ["fc2"]
      }, 
      {
          "bottom_nodes": ["fc2", "label"], 
          "layer_name": "pair_hinge", 
          "layer_type": 55, 
          "setting": {
            "delta": 1.0
          }, 
          "tag": ["Train"], 
          "top_nodes": ["loss"]
      }, 
      {
          "bottom_nodes": [ "fc2", "label"], 
          "layer_name": "P@k", 
          "layer_type": 61, 
          "setting": {
              "col": 0, 
              "k": 10, 
              "method": "P@k"
          }, 
          "tag": [ "Valid", "Test" ], 
          "top_nodes": [ "P@k" ]
      }, 
      {
           "bottom_nodes" : [ "fc2", "label" ],
           "layer_idx" : 19,
           "layer_name" : "nDCG@10",
           "layer_type" : 61,
           "setting" : {
              "k" : 10,
              "method" : "nDCG@k"
           },
           "top_nodes" : [ "nDCG@10" ],
           "tag" : ["Valid", "Test"]
      },
      {
           "bottom_nodes" : [ "fc2", "label" ],
           "layer_idx" : 19,
           "layer_name" : "MAP",
           "layer_type" : 61,
           "setting" : {
              "method" : "MAP"
           },
           "top_nodes" : [ "MAP" ],
           "tag" : ["Valid", "Test"]
      }
  ]
}
